---
---
<button id="to-top-button" title="To Top"
    class="fixed z-50 bottom-10 right-10 p-4 border-0 w-14 h-14 rounded-full shadow-md bg-gray-800 text-white text-lg font-semibold transition-colors duration-300">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="w-6 h-6">
        <path d="M12 4l8 8h-6v8h-4v-8H4l8-8z" />
    </svg>
    <span class="sr-only">Go to top</span>
</button>

<style>
    #to-top-button {
        display: none;
        cursor: pointer;
    }
</style>

<script>
    var toTopButton = document.getElementById("to-top-button");

    window.onscroll = function () {
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
            toTopButton.style.display = "block";
        } else {
            toTopButton.style.display = "none";
        }
    };

    toTopButton.onclick = function () {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    };
</script>
